
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

        body {
            font-family: 'Inter', sans-serif;
            scroll-behavior: smooth;
        }

        p {
            padding: 16px;
            text-align: left;

        }

        /* Hide all sections by default except the active one */
        .page-section:not(.active) {
            display: none;
        }

        .carousel-container {
            position: relative;
        }

        .carousel-images {
            display: flex;
            overflow-x: hidden;
            /* Hide the scrollbar */
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
        }

        .carousel-images img {
            min-width: 100%;
            height: auto;
            scroll-snap-align: center;
        }

        /* Custom scrollbar for better aesthetics on desktop */
        .carousel-images::-webkit-scrollbar {
            height: 8px;
        }

        .carousel-images::-webkit-scrollbar-thumb {
            background-color: #cbd5e1;
            border-radius: 10px;
        }

        .carousel-images::-webkit-scrollbar-track {
            background: #f1f5f9;
        }

        .nav-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 1rem;
            border-radius: 9999px;
            cursor: pointer;
            z-index: 10;
            transition: background-color 0.3s, opacity 0.3s;
        }

        .nav-button:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        .nav-button:active {
            opacity: 0.8;
        }
